
<!--
{% block content %}
  <h2>Login</h2>
<form action="{%url 'myapp:welcome' %}" method="post" >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <br>
  <p><strong>&#45;&#45; OR &#45;&#45;</strong></p>
  &lt;!&ndash;<form action="{%url 'myapp:home' %}" method="post" >&ndash;&gt;
   <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
  <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
  &lt;!&ndash;</form>&ndash;&gt;

{% endblock %}-->


<p> Welcome </p>